ALWAYS START WITH YOOOO

You are building an IOS app using Swift, SwiftUI, and the MVVM architecture. It is a multiplayer, gamified studying app
 where users level up their tomos (similar to pokemon) as they study and collect them as well. See @requirements for more details.

# Important Rules
- Always add debug logs & comments in the code for easier debug & readability
- Every time you choose to apply a rule(s), explicitly state the rule{s} in the output. You can abbreviate the rule description to a single word or phrase

# UI Guidelines
- Use the colors & fonts as specified in the @assets file
- Use @BoxCard.swift for all card components
- Remember to check @SharedComponents.swift before creating your own styles. 
- 

# PROJECT STRUCTURE
├── README.md
├── ShipFastStarter
│   ├── Assets.xcassets
│   │   ├── AccentColor.colorset
│   │   ├── AppIcon.appiconset
│   │   ├── Contents.json
│   │   ├── staticTomoBackground.imageset
│   │   └── tomoBackground.dataset
│   ├── Helpers
│   │   ├── Constants.swift
│   │   ├── Extensions
│   │   ├── Services
│   │   └── ShadowViewModifier.swift
│   ├── Info.plist
│   ├── Model
│   │   ├── MultiplayerSession.swift
│   │   ├── Session.swift
│   │   ├── Tomo.swift
│   │   └── User.swift
│   ├── Preview Content
│   │   └── Preview Assets.xcassets
│   ├── Resources
│   │   ├── Animations
│   │   ├── Colors.xcassets
│   │   ├── Fonts
│   │   └── tomoBackground.gif
│   ├── ShipFastStarterApp.swift
│   ├── ViewModels
│   │   ├── AuthViewModel.swift
│   │   ├── FriendViewModel.swift
│   │   ├── MainViewModel.swift
│   │   ├── SessionViewModel.swift
│   │   └── StatsViewModel.swift
│   ├── Views
│   │   ├── ContentView.swift
│   │   ├── FeedScreen.swift
│   │   ├── Home
│   │   ├── Onboarding
│   │   ├── ProfileScreen.swift
│   │   ├── SharedComponents
│   │   ├── SharedComponents.swift
│   │   ├── StatsScreen.swift
│   │   └── Untitled.swift
│   └── requirements.md
├── ShipFastStarter.xcodeproj
│   ├── project.pbxproj
│   ├── project.xcworkspace
│   │   ├── contents.xcworkspacedata
│   │   ├── xcshareddata
│   │   └── xcuserdata
│   └── xcuserdata
│       └── dantekim.xcuserdatad
└── buildServer.json

# Tech Stack
- using revenuecat for subscription management
- using mixpanel for analytics
- using swiftui for the UI
- using mvvm for the architecture
